# Default values for dapr-demo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Labels to apply to all resources
global:
  commonLabels: {}
  part_of: "dapr-demo"

courses-api:
  extraEnv:
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
    - name: DAPRDEMO_BasePathOptions__ApplicationBasePath
      value: /courses
  ingress:
    hosts:
      - host: localhost
        paths:
          - path: /courses(/|$)(.*)
            pathType: Prefix
  openTelemetry:
    enableSideCar: true
  
usergroups-api:
  extraEnv:
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
    - name: DAPRDEMO_BasePathOptions__ApplicationBasePath
      value: /usergroups
  ingress:
    hosts:
      - host: localhost
        paths:
          - path: /usergroups(/|$)(.*)
            pathType: Prefix
  openTelemetry: 
    enableSideCar: true
  
users-api:
  extraEnv:
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
    - name: APP_BasePath
      value: users
    - name: OTEL_PROPAGATORS
      values: "tracecontext,baggage,b3,b3multi,jaeger"
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
    hosts:
      - host: localhost
        paths:
          - path: /users(/|$)(.*)
            pathType: Prefix
  openTelemetry:
    enableSideCar: true

mailhog:
  extraEnv:
    - name: MH_UI_WEB_PATH
      value: mail
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "http"
      nginx.ingress.kubernetes.io/use-regex: "true"
    hosts:
      - host: localhost
        paths:
          - path: /mail(/|$)(.*)
            pathType: Prefix
    
opentelemetry-collector:
  mode: deployment
  extraEnvs:
  - name: HOST_IP
    valueFrom:
      fieldRef:
        apiVersion: v1
        fieldPath: status.hostIP
  config:
    receivers:
      otlp:
        protocols:
          grpc:
          http:
    exporters:
      otlp:
        endpoint: ${HOST_IP}:8200
        tls:
          insecure: true
      logging:
        logLevel: debug
    processors:
      memory_limiter:
        check_interval: 5s
        limit_mib: 1500
        spike_limit_mib: 512
#      queued_retry:
#        num_workers: 4
#        queue_size: 100
#        retry_on_failure: true
      batch:
        send_batch_size: 1000
        timeout: 30s
    service:
      pipelines:
        traces:
          receivers: [ otlp ]
          processors: [ memory_limiter, batch ]
          exporters: [ otlp ]
        metrics:
          receivers: [ otlp ]
          processors: [ memory_limiter, batch ]
          exporters: [ otlp ]
        logs:
          receivers: [ otlp ]
          processors: [ memory_limiter, batch ]
          exporters: [ otlp ]
